<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OBD DANCE HUB</title>
    style
       include ../static/style.css
</head>
<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="/static/dance logo real.png" alt="logo">
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Information</a></li>
            <li><a href="\contact">Contact Us</a></li>
        </ul>
    </nav>

<section class="intro">
</div>
    <p>WELCOME TO OBD DANCE HUB</p> 
    </div>
    <div id="smallintro">
        <P>EAT, SLEEP, DANCE, REPEAT</P>
    </div>
    
       </section>

<section class="mission">
<h3>OUR MISSION</h3>

<div class="card">
   <h4>MISSION 1</h4>

   <div class="fcard">
       <div class="cardimg">
        <img src="/static/dance 1.0  real dope shit.png" alt="img">
       </div>
    
       <div class="c-content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae dolor eaque tempora consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, corporis!</p>
       </div>

   </div>

</div>

<div class="card">
    <h4>MISSION 2</h4>
    <div class="fcard">
        <div class="cardimg">
            <img src="/static/dance 4 real dope.png" alt="img">
        </div>
        
        <div class="c-content">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae dolor eaque tempora consectetur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vitae.
            </p>
        </div>

    </div>
        
   
</div>

<div class="card">
    <h4>MISSION 3</h4>
    
    <div class="fcard">
        <div class="cardimg">
            <img src="/static/dance img.png" alt="img">
        </div>
        
        <div class="c-content">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, qui. Quae dolor eaque tempora consectetur.</p>
        </div>
        
    </div>
</div>

   </section>
   <hr>

<section class="sponser">
<h3>OUR HONORABLE SPONSORS</h3>
<div id="sponsors">
    <img src="/static/chanel logo real.png" alt="pic" class="sp" id="sp1">
    <img src="/static/logo img 1 real.jpg" alt="pic" class="sp">
    <img src="/static/mercedes real.png" alt="pic" class="sp">
    <img src="/static/pepsi logo real.png" alt="pic" class="sp">
    <img src="/static/logo img 4 real.jpg" alt="pic" class="sp" id="sp5">
</div>
   </section>

<footer class="footer">
<p>Copyright &copy 2023 OBDDanceHUB.com. All rights reserved.</p>

    
   </footer>



script
    include ../static/index.js 
</body>
</html>